table.kbtable {
  border: 1px solid lightgrey;
  margin: 15px 0;
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
  font-size: 14px;
  thead {
    tr {
      th {
        border-bottom: 2px solid lightgrey;
        padding: 5px 15px;
        text-align: left;
        color: grey;
        cursor: pointer;

        &.sorted {
          color: $primary-color;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: rgb(219, 245, 255);
      }
      td {
        padding: 15px;
        border: 0;

        &.buttons {
          display: flex;
        }
      }
    }
  }
}
